@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', monospace;
}

canvas {
    border: 4px solid #444;
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.2);
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}